body{
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(7, 7, 59);
}
.button{
    display: inline-block;
    padding: 10px 50px;
    margin-right: 20px;
    background-color: rgb(35, 32, 78);
    font-size: 20px;
    border: solid;
    border-color: rgb(44, 119, 169);
    border-end-end-radius: 12px;
    border-start-start-radius: 12px;
    border-width: 3px;
    text-decoration: none;
    color: rgb(113, 111, 191);
    transition: background-color 2s ease-in;
    transition: color .7s ease;
}
.button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(163, 246, 255);
}
.button-Register{
    display: inline-block;
    margin-right: 23px;
    margin-top: 10px;
    display: inline-block;
    padding: 10px 50px;
    background-color: rgb(35, 32, 78);
    font-size: 20px;
    border: solid;
    border-color: rgb(44, 119, 169);
    border-start-end-radius: 12px;
    border-start-start-radius: 12px;
    border-width: 3px;
    text-decoration: none;
    color: rgb(27, 166, 179);
    transition: background-color 2s ease-in-out;
    transition: color .7s ease;
}
.button-Register:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.button-Service{
    display: inline-block;
    margin-top: 10px;
    margin-right: 23px;
    display: inline-block;
    padding: 10px 50px;
    background-color: rgb(35, 32, 78);
    font-size: 20px;
    border: solid;
    border-color: rgb(44, 119, 169);
    border-start-start-radius: 12px;
    border-start-end-radius: 12px;
    border-width: 3px;
    text-decoration: none;
    color: rgb(27, 166, 179);
    transition: background-color 2s ease-in-out;
    transition: color .7s ease;
}
.button-Service:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(14, 240, 244);
}
.button-Profile{
    display: inline-block;
    margin-top: 10px;
    display: inline-block;
    padding: 10px 50px;
    background-color: rgb(35, 32, 78);
    font-size: 20px;
    border: solid;
    border-color: rgb(44, 119, 169);
    border-start-start-radius: 12px;
    border-start-end-radius: 12px;
    border-width: 3px;
    text-decoration: none;
    color: rgb(27, 166, 179);
    transition: background-color 2s ease-in-out;
    transition: color .7s ease;
}
.button-Profile:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(14, 240, 244);
}
.header{
    text-align: center;
    padding: 20px;
    color: darkcyan;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}
.forms{
    margin-bottom: 20px;
    padding: 3px 5px;
    border-radius: 10px;
    border-color: blue;
    background-color: rgb(35, 35, 105);
    font-size: 20px;
}